@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 952px) {
  .container {
    max-width: 888px;
  }
}

textarea {
  resize: none;
}

@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-BoldMT.eot");
  src: url("./fonts/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
header {
  padding: 30px 0 10px 0;
  background-color: #EBEBE9;
}
header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 952px) {
  header .menu {
    display: none;
  }
}
header .menu-list {
  display: flex;
}
header .menu-list__item {
  padding: 11px 32px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 1s;
}
header .menu-list__item:hover {
  border-radius: 30px;
  background-color: white;
  border: 1px solid white;
}
header .menu-list__item-link {
  text-decoration: none;
  color: black;
}

.main {
  background-color: #EBEBE9;
}
.main__wrapper {
  position: relative;
  height: 70vh;
}
.main__img {
  width: clamp(660px, 75%, 990px);
  position: absolute;
  left: -200px;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .main__img {
    left: -170px;
  }
}
@media screen and (max-width: 1500px) {
  .main__img {
    left: -115px;
  }
}
@media screen and (max-width: 1260px) {
  .main__img {
    left: -110px;
  }
}
@media screen and (max-width: 952px) {
  .main__img {
    left: -95px;
  }
}
.main__titl {
  position: relative;
  top: 8vh;
  left: 13vw;
  font-size: clamp(24px, 10vw, 160px);
  font-weight: 900;
  letter-spacing: 15px;
  font-family: "Arial Bold";
  color: #CFCFCD;
  width: -moz-max-content;
  width: max-content;
  z-index: 0;
}
@media screen and (max-width: 1600px) {
  .main__titl {
    left: 13vw;
  }
}
.main__discription {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 20px;
  width: 587px;
  top: 27vh;
  right: 0;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 1500px) {
  .main__discription {
    padding: 0;
    width: 522px;
  }
}
@media screen and (max-width: 1260px) {
  .main__discription {
    width: 430px;
  }
}
@media screen and (max-width: 952px) {
  .main__discription {
    width: 363px;
    padding: 0;
  }
}
.main__discription-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  display: block;
  padding: 11px 32px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}
.main__discription-link:hover {
  color: #FF8340;
}

.about {
  background-color: white;
}
.about__wrapper {
  position: relative;
  height: 85vh;
}
.about__wrapper__img {
  position: absolute;
  padding: 28px 0 0 0;
  width: clamp(598px, 65%, 953px);
  left: 39%;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .about__wrapper__img {
    width: 60%;
  }
}
.about__wrapper__titl {
  font-weight: 900;
  font-size: clamp(16px, 6vw, 80px);
  font-family: "Arial Bold";
  color: black;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  padding: 169px 0 58px 0;
  top: 1vh;
  left: 1vw;
  z-index: 3;
}
@media screen and (max-width: 952px) {
  .about__wrapper__titl {
    width: 562px;
    padding: 54px 32px;
  }
}
.about__wrapper__discription {
  line-height: 24px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border: 6px solid #FF8340;
  letter-spacing: 0.1em;
  left: 10vw;
  top: 5vh;
  width: 510px;
  padding: 335px 25px 105px 25px;
  z-index: 2;
}
@media screen and (max-width: 952px) {
  .about__wrapper__discription {
    width: 439px;
    padding: 270px 30px 4px 30px;
    top: 1vh;
    left: 11vw;
  }
}
.about__wrapper__discription-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}
.about__wrapper__discription-link:hover {
  color: #FF8340;
}

.direction {
  background-color: #292929;
}
.direction__wrapper {
  position: relative;
  height: 35vh;
}
.direction__wrapper__titl {
  color: white;
  font-size: clamp(16px, 6vw, 80px);
  font-family: "Arial Bold";
  padding: 124px 0 0 0;
}
@media screen and (max-width: 1399px) {
  .direction__wrapper__titl {
    padding: 30px;
  }
}
@media screen and (max-width: 952px) {
  .direction__wrapper__titl {
    padding: 53px 30px 0 30px;
  }
}
.direction__wrapper__discription {
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 34px 0px 81px 0px;
}
@media screen and (max-width: 1399px) {
  .direction__wrapper__discription {
    padding: 30px;
  }
}
@media screen and (max-width: 952px) {
  .direction__wrapper__discription {
    width: 888px;
    padding: 28px 30px 53px 30px;
  }
}

.fitback {
  background-color: #FF8340;
}
.fitback__wrapper {
  position: relative;
}
.fitback__titl {
  text-align: center;
  color: #292929;
  font-size: clamp(32px, 6vw, 45px);
  font-family: "Arial Bold";
  padding: 40px 0 35px 0;
}
.fitback__line {
  background: #292929;
  width: 64px;
  height: 6px;
  margin: 0 auto;
}
.fitback__discription {
  line-height: 24px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  padding: 50px 0 40px 0;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1399px) {
  .fitback__discription {
    padding: 30px;
  }
}
.fitback__form {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fitback__form__client-info {
  width: 48%;
  height: 58px;
  padding: 18px 34px;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1399px) {
  .fitback__form__client-info {
    width: 48%;
    padding: 30px;
  }
}
.fitback__form__label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 48%;
  gap: 20px;
}
.fitback__form__question .fitback__form__label {
  padding: 10px 30px 10 30px;
  text-align: center;
  width: 100%;
  height: 58px;
  border: 2px solid #FFFFFF;
  color: white;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #292929;
}
.fitback__form__label::after {
  content: "⌵";
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.fitback__form__question {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  width: 100%;
  height: 58px;
  padding: 0 34px;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  background-color: #292929;
}
.fitback__form__mess {
  width: 100%;
  height: 198px;
  margin-bottom: 253px;
}
.fitback__form__link {
  color: #292929;
  position: absolute;
  right: 0;
  top: 33vh;
  width: 214px;
  height: 213px;
  line-height: 24px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 54px 0 176px 0;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
.fitback__form__link:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */