header {
  padding: 30px 0 10px 0;
  background-color: #EBEBE9;

  .header__wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    @media screen and (max-width: 952px) {
      display: none;
    }

    &-list {
      display: flex;

        &__item { 
        padding: 11px 32px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 1s;

        // @media screen and (max-width: 1600px) {
        // }
        // @media screen and (max-width: 1260px) {
        // }

          &:hover {
            border-radius: 30px;
            background-color: white;
            border: 1px solid white;
          }

        &-link {
          text-decoration: none;
          color: black;
        }
        }
    }
  }
}
