.main {
  background-color: #EBEBE9;

  &__wrapper {
    position: relative;
    height: 70vh;
  }

  &__img {
    width: clamp(660px, 75%, 990px);
    position: absolute;
    left: -200px;
    bottom: 0;
    z-index: 1;

    @media screen and (max-width: 1600px){
      left: -170px;
    }
    @media screen and (max-width: 1500px){
      left: -115px;
    }
    @media screen and (max-width: 1260px){
      left: -110px;
    }
    @media screen and (max-width: 952px){
      left: -95px;
    }
  }

  &__titl {
    position: relative;
    top: 8vh;
    left: 13vw;
    font-size: clamp(24px, 10vw ,160px);
    font-weight: 900;
    letter-spacing: 15px;
    font-family: 'Arial Bold';
    color: #CFCFCD;
    width: max-content;
    z-index: 0;
    @media screen and (max-width: 1920px){

    }
    @media screen and (max-width: 1600px){
      left: 13vw;
    }
    @media screen and (max-width: 1260px){

    } 
    @media screen and (max-width: 952px){
    
      }
  }

  &__discription {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 20px;
    width: 587px;
    top: 27vh;
    right: 0;
    position: absolute;
    z-index: 2;

    @media screen and (max-width: 1500px){
      padding: 0;
      width: 522px;
    }
    @media screen and (max-width: 1260px){
      width: 430px;
    } 
    @media screen and (max-width: 952px){
      width: 363px;
      padding: 0;
      }

      &-link {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: black;
        display: block;
        padding: 11px 32px;
        position: relative;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
        z-index: 2;

        &:hover {
          color: #FF8340;
        }
      }
  }
}