.main__direction-parent{
  background-color: #292929;

  &__container{
    display: flex;
    position: relative;
    height: 45vh;
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (max-width: 952px){
      max-width: 90%;
      padding: 0 20px;
    }

    &__titl{
      width: 1155px;
      display: flex;
      align-items: center;
      height: 160px;
      color: white;
      font-size: 80px;
      font-family: "Arial Bold";
      position: relative;
      font-weight: 900;
      top: 124px;
    }
    &__subtitle{
      font-size: 20px;
      display: flex;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: white;
      position: absolute;
      height: 92px;
      top: 280px;
      padding: 34px 0px 81px 0px;
  }
    }
  }
